# Sui Network
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_PACKAGE_ID=0xf0960bfb6fcae930a39f90dea4e9d8943e5cfea2fd0745446999603cf4f09e48

# Contract Object IDs (populated after deployment)
NEXT_PUBLIC_REGISTRY_ID=
NEXT_PUBLIC_GAUGE_CONTROLLER_ID=
NEXT_PUBLIC_FEE_COLLECTOR_ID=

# Indexer Database
DATABASE_URL=file:../indexer/crux.db

# Pyth Oracle
NEXT_PUBLIC_PYTH_ENDPOINT=https://hermes.pyth.network
